<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {% block stylesheets %}{% endblock %}


    </head>

    <body>

        {#   contenu du menu  principal #}
        {% block main_menu %}{% endblock %}

        {# contenu du fil d'ariane   #}
        {% block breadcrum %}{% endblock %}

        {# Messages flashbag  #}
        {% block flashMessages %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger"><span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning"><span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info"><span class="glyphicon glyphicon-ok"></span> {{ flashMessage }}</div>
            {% endfor %}
        {% endblock %}

        <div id="global-container">
            {# sous menu #}
            {% block sousMenu %}{% endblock %}
            {# Contenu   #}
            {% block body %}{% endblock %}
        </div>
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>

    {% block javascripts %}{% endblock %}

    </body>
</html>