{% extends 'SiteProjectsBundle::layout.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="site_home">Accueil</a></li>
    <li class="active">Projects</li>
</ol>
{% endblock %}

{% block body %}

<h2 class="page-header">Projets</h2>

<p>
    {% if  routes is empty  %}
<p>Aucun projet pour le moment.</p>
    {% endif %}

    {% for route,routeAttr in routes %}
<div class="img-div" >
    <h3>{{routeAttr.title|capitalize }}</h3>
    <a href="{{ path(route) }}" class="link tooltip-link"
       data-toggle="tooltip"
       data-original-title="{{routeAttr.description|capitalize  }}">
        <img src="{{asset('bundles/siteprojects/images/thumbmail/')~ routeAttr.thumbmail}}" 
             alt="{{routeAttr.description}}" 
             class="img-thumbnail" >
    </a>
</div>
    {% endfor %}
</p>
{% endblock %}


{% block stylesheets %}
<link href="{{ asset('/bundles/siteprojects/css/projects.css') }}" rel="stylesheet" media="screen" /> 
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    // Pour les info-bulles
    $(document).ready(function() {
        $(".tooltip-link").tooltip();

        setTimeout(function() {
            $(".img").addClass('img-thumbnail');
        }, 500);

    });
</script>
{% endblock %}