{% extends 'SiteProjectsBundle::layout.html.twig' %}

{% block title %}Jeu video n°{{game_id}}{% endblock %}

{% block javascripts %}
    {#{{parent()}}#}
    {% include 'SiteProjectsBundle:Games:canvas_config.js.twig' %}
    <script src="{{ asset('bundles/siteprojects/js/game_'~game_id~'.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{path('site_home')}}">Accueil</a></li>
        <li><a href="{{path('projects')}}">Projets</a></li>
        <li><a href="{{path('project_games_index')}}">Jeux Vidéos</a></li>
        <li class="active">Jeu video n°{{game_id}}</li>
    </ol>
{% endblock %}


{% block body %}
    <h1>Titre du jeu</h1>

    <html>
        <body>
            <canvas id="canvas_id" class="col-xs-8 col-xs-offset-2" width="800" height="600"  style="border: 5px inset #428bca;padding:0; border-radius: 20px">
                Votre navigateur ne supporte pas le Canvas HTML5
            </canvas>
        </body>
    </html>
{% endblock %}
